@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles.css */
.border-rotate {
  position: relative;
}

.border-rotate::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px dashed #6366f1; /* Tailwind indigo-500 color */
  border-radius: 9999px; /* Full rounded */
  transition: transform 0.6s linear; 
  transition-delay: 0.1s;
}

.border-rotate:hover::before {
  border-style: solid;
  transform: rotate(180deg);
}
